.container {
  position: sticky;
  top: 10.8rem;
  min-height: calc(100vh - 21.8rem);
}

.title {
  font-size: 1.6rem;
  line-height: 2rem;
}

.options {
  display: grid;
  gap: 1.6rem;
  margin-top: 2rem;
}
